<% title = "Đăng ký tham dự hội nghị" %>
<%- include('header') %>
<h3 class="text-center" style="margin: 20px;">Form đăng ký tham dự hội nghị</h3>
<form action="/regist-conference" method="POST">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label text-right font-weight-bold">Họ tên</label>
        <input type="text" class="form-control col" id="name" name="name" placeholder="Điền họ tên của bạn" required>
        <strong class="text-danger col-sm-2">*</strong>
    </div>
    <div class="form-group row">
        <label for="mail" class="col-sm-2 col-form-label text-right font-weight-bold">Email</label>
        <input type="email" class="form-control col" id="mail" name="mail" aria-describedby="emailHelp"
            placeholder="Điền email của bạn" required>
        <strong class="text-danger col-sm-2">*</strong>
    </div>
    <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label text-right font-weight-bold">Số điện thoại</label>
        <input type="tel" class="form-control col-sm-8 auto" id="phone" name="phone"
            placeholder="ví dụ: +84 0777140398">
    </div>
    <div class="form-group row">
        <div class="form-group form-check col-md-8 offset-sm-2">
            <input type="checkbox" class="form-check-input" id="checkAttend" name="checkattend" value='okie'>
            <label class="form-check-label" for="checkAttend">Bạn sẽ tham dự chứ ?</label>
        </div>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary col-sm-2 offset-sm-2">Gửi</button>
    </div>
</form>
<%- include('footer') %>