<footer class="container">
    <hr />
    <div class="row">
        <div class="col-3 text-center">
            <span>1660281</span>
        </div>
        <div class="col-3 text-center">
            <span>1660281</span>
        </div>
        <div class="col-3 text-center">
            <span>1660281</span>
        </div>
        <div class="col-3 text-center">
            <span>1660281</span>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <span>Trần Khôi</span>
        </div>
        <div class="col-3 text-center">
            <span>1660281</span>
        </div>
        <div class="col-3 text-center">
            <span>1660281</span>
        </div>
        <div class="col-3 text-center">
            <span>1660281</span>
        </div>
    </div>
</footer>
</div>
</div>
</div>


<!-- 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script> -->
</body>

</html>