<%- include('lib') %>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TKBank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <% if ( locals.user && locals.user != null ) { %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config">Cấu hình</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/profile">Cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Đăng xuất</a>
                </li>
            </ul>
            <% if (locals.user.role = 1) { %>
            <form class="form-inline my-2 my-lg-0 form-group">
                <select id="keyType" class="form-control">
                    <option value="0">ID</option>
                    <option value="1">Email</option>
                    <option value="2" selected>Họ tên</option>
                </select>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <% } %>
            <% } else { %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item my-2 my-lg-0">
                    <a class="nav-link" href="/login">Đăng nhập</a>
                </li>
            </ul>
            <% } %>
        </div>
    </nav>