<%- include('header') %>
<div class="row m-0" style="height: 100%; padding: 0em;">
    <div class="col-8 m-0" width="100%" height="100%"
        style="padding-right: 0px; background-image: linear-gradient(blueviolet, violet)">
        <div class="row h-100 w-100">
            <div class="col-8 offset-2">
                <div class="row h-25 py-5" style="color: lightgrey;">
                    <h1 class="text-center m-0 w-100">Ngân hàng điện tử TKBank</h1>
                    <div class="text-right w-100">Power and provided by koichen</div>
                </div>
                <div class="row justify-content-center h-50">
                    <img src="/content/money-gold.png" width="70%" height="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 m-0 px-5 py-5" style="background-color: lightgrey;">