<%- include('header') %>
<div class="container">
    <div class="row h-100">
        <div class="col-3" style="padding-right: 0px; background-color: blueviolet; color: azure;">
            <div class="row h-30 justify-content-center" style="padding: 25% 5%;">
                <h1>Danh sach</h1>
            </div>
            <div class="row">fsdjfl</div>
            <div class="row">fsdjfl</div>
            <div class="row">fsdjfl</div>
            <div class="row">fsdjfl</div>
        </div>
        
        <div class="col-9" style="padding: 2em; margin:0px;">