            
        <% if (typeof messageResult === 'string' && messageResult) { %>
            <span class="text-danger">
                <%= messageResult %>
            </span>
            <% } %>
            </div>
        <div>
    </div>
</div>
<%- include('footer') %> 