<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <title><%- title %> </title>
    <style>
        html, body { /* loai bo thanh scroll nam ngang phia duoi*/
            max-width: 100%;
            overflow-x: hidden;
        }
        
        * {
            margin: 0px;
            padding: 0px;
        }

        .bg-c-blueviolet {
            background-color: blueviolet;
        }

        .c-blueviolet {
            color: blueviolet;
        }

        /* Style the header */
        .header {
            padding: 10px 16px;
            background: lavender;
        }

        /* Page content */
        .content {
            padding: 16px;
        }

        /* The sticky class is added to the header with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%
        }

        /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
        .sticky+.content {
            padding-top: 102px;
        }
    </style>
    <script>
        // When the user scrolls the page, execute myFunction
        window.onscroll = function () { myFunction() };
    
        // Get the header
        var header = document.getElementById("myHeader");
    
        // Get the offset position of the navbar
        var sticky = header.offsetTop;
    
        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
    
    <script type="text/javascript" src="/public/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
</head>